/* ------------------------------
   MODULE FACTURATION
--------------------------------*/

.page-facturation h2 {
    color: #1E9E63;
}

.page-facturation .card {
    border-left: 5px solid #1E9E63;
}

.page-facturation button {
    background: #1E9E63;
}

.page-facturation button:hover {
    background: #157A4D;
}

.ligne-article {
    background: #E9FFF3;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 10px;
}
